{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "codeFrame": false
  },
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": ["react", "jsx-a11y", "import", "flowtype"],
  "rules": {
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "no-return-assign": ["off"],
    "react/button-has-type": ["off"]
  }
}
